.container{
    width: 90%;
    min-width: 750px;
    margin: 0 auto;
    background-color: azure;
}

.left{
    background-color: antiquewhite;
    display: flex;

}

.right{
    background-color: cadetblue;
}