.container{
    width: 90%;
    min-width: 1000px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

.row{
    height: 100%;
    margin: 0 auto;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
}

.footer{
    height: 60px;
    width: 100%;
    line-height: 60px;
    position: absolute;
    bottom: -60px;
    text-align: center;
    background-color: antiquewhite;
}
