
html, body, #root {
  height: 100%;
  width: 100%;
}

.linkBtn{
  width: 200px;
  height: 150px;
  z-index: 100;
  background-color: #364d79;
}

.bodyContainer{
  position: relative;
  width: 100%;
}

.footer{
  height: 60px;
  width: 100%;
  line-height: 60px;
  position: absolute;
  bottom: 0;
  text-align: center;
}