
html, body, #root {
    height: 100%;
    width: 100%;
    min-width: 900px;
}

.linkBtn {
    width: 200px;
    height: 150px;
    z-index: 100;
    background-color: #364d79;
}

.bodyContainer {
    position: relative;
    width: 100%;
    min-width: 900px;
}

.myButton {
    box-sizing: border-box;
    padding: 5px 8px;
    margin: 0 10px;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 800ms;
}

.myButton:hover {
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

