.tagsGrid {
    width: 80%;
    margin: 0 auto;
}

.tag-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 10px;
    font-size: 18px;
    color: white;
}

.archieve-content{
    height: 100%;
}

.tagged-list{
    position: relative;
}