.body {
    position: relative;
    overflow: auto;
    z-index: 5;
}

.home-content{
    margin: 0 auto;
    padding-top: 30px;
    width: 80%;
    max-width: 900px;
    opacity: 0.9;
}

@media (max-width: 600px) {
    .home-content{
        width: 100%;
        padding-top: 15px;
    }
}